@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  padding: 10px 0;
  &-control {
    margin-left: auto;
  }
  &-lang {
    margin-right: 20px;
    &__item {
      margin-right: 8px;
      & a {
        font-size: 16px;
        line-height: 21px;
        color: $greyColor
      }
      &.current-lang {
        & a {
          color: $whiteColor;
        }
      }
    }
  }
}

.hamburger {
  > span {
    font-size: 14px;
    line-height: 21px;
    margin-right: 4px;
  }
  &-lines {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 10px;
    cursor: pointer;
    & span {
      content: '';
      position: absolute;
      background: $whiteColor;
      width: 15px;
      height: 1px;
      left: 0;
      top: 0;
      @include transition(.3);
    }
    & span:nth-child(2){
      top: 4px;
      width: 10px;
    }
    & span:nth-child(3){
      top: 8px;
    }
  }
  &.open {
    & .hamburger-lines {
      & span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
      }
      & span:nth-child(2) {
        display: none;
      }
      & span:nth-child(3) {
        transform: rotate(-45deg);
        top: 4px;
      }
    }
  }
}

.navbar-additions {
  opacity: 0;
  @include transition(.35);
  transition-delay: 0.85s;
}

.navbar-footer {
  opacity: 0;
  @include transition(.35);
  transition-delay: 0.85s;
}

.navbar {
  padding: 24px 15px 15px 15px;
  position: fixed;
  width: 100%;
  right: -110%;
  top: 60px;
  bottom: 0;
  background: $bodyBackground;
  height: calc(100% - 60px);
  @include transition(.5);
  &.active {
    right: 0;
    z-index: 89;
    & .primary-navigation {
      & .menu-item {
        margin-left: 0;
        opacity: 1;
      }
      & .menu-item:nth-child(2) {
        transition-delay: 0.3s;
      }
      & .menu-item:nth-child(3) {
        transition-delay: 0.35s;
      }
      & .menu-item:nth-child(4) {
        transition-delay: 0.4s;
      }
      & .menu-item:nth-child(5) {
        transition-delay: 0.45s;
      }
      & .menu-item:nth-child(6) {
        transition-delay: 0.5s;
      }
      & .menu-item:nth-child(7) {
        transition-delay: 0.55s;
      }
      & .menu-item:nth-child(8) {
        transition-delay: 0.6s;
      }
    }
    & .navbar-additions, .navbar-footer {
      opacity: 1;
    }
  }
  &-action {
    display: block;
    cursor: pointer;
  }
  &-additions, &-footer {
    opacity: 0;
  }
  &-footer-nav__link {
    margin-right: 20px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: $whiteColor;
      @include transition(.4);
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  &-footer-nav__link:last-child {
    margin: 0;
  }
}

.menu-item {
  margin-bottom: 20px;
  @include transition(.4);
  transition-delay: 0.05s;
  position: relative;
  z-index: 999;
  transition: 0.3s ease-in-out;
  margin-left: 100px;
  opacity: 0;
  &:before {
    content: '';
    background: $whiteColor;
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    top: 50%;
    @include transition(.5);
    transition-delay: 0.05s;
    z-index: -1;
  }
  &__link {
    color: $greyColor;
    @include fontSize(32, 18);
    line-height: 1.22;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    @include transition(.4);
    background: $bodyBackground;
    padding-right: 20px;

  }
  &__text {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 170px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include transition(.4);
    transition-delay: .1s;
  }
  &.current-menu-item {
    & .menu-item__link {
      color: $whiteColor;
    }
  }
  &:hover {
    &:before {
      width: 70%;
    }
    & .menu-item__link {
      color: $whiteColor;
      padding-left: 20px;
    }
    & .menu-item__text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.navbar-contacts {
  margin-top: 10px;
  & .contacts__item {
    color: #777777;
    & a {
      color: #777777;
    }
  }
}


