@import "../abstracts/mixins";
@import "../abstracts/variables";

.entry-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  & p {
    @include fontSize(14, 16);
    font-weight: 400;
    line-height: 1.85;
    color: $whiteColor;
    margin-bottom: 24px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 16px;
    }
  }

  & h1 {
    @include fontSize(18, 32);
    line-height: 1.22;
    margin-bottom: 20px;
  }

  & h2 {
    @include fontSize(16, 24);
    line-height: 1.32;
    margin: 10px 0 20px 0;
  }

  & h3 {
    @include fontSize(16, 20);
    line-height: 1.32;
    margin: 10px 0 20px 0;
  }

  & h4 {
    @include fontSize(18, 28);
    line-height: 1.32;
    margin-bottom: 20px;
  }

  & h5 {
    @include fontSize(16, 24);
    line-height: 1.64;
    margin-bottom: 20px;
  }

  & h1, & h2, & h3 {
    font-weight: bold;
    text-align: center;
  }

  & img {
    margin-bottom: 30px;
    object-fit: cover;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  & a {
    color: $whiteColor;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    &:after {
      content: "";
      position: absolute;
      background: $whiteColor;
      height: 1px;
      bottom: -3px;
      left: 0;
      width: 0;
      @include transition(.3);
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  } 

  & strong {
    font-weight: 700;
  }

  & ul {
    margin-bottom: 20px;
    & li {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      padding-left: 24px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        background: $whiteColor;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
      }
    }
  }
  & ol {
    margin-bottom: 20px;
    & li {
      font-size: 16px;
      counter-increment: li;
      &:before {
        content: counter(li) '.';
        font-weight: 700;
        display: inline-block;
        padding-right: 7px;
        width: 24px;
      }
    }
  }

  & blockquote {
    position: relative;
    margin: 70px 0 24px 0;
    padding: 30px;
    background: #131313;
    @include fontSize(14, 18);
    line-height: 26px;
    margin-bottom: 30px;
    &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      left: 25px;
      top: -35px;
      background: url('../../img/quote.svg') no-repeat center center;
      width: 69px;
      height: 55px;
    }
  }
}