@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-control {
  margin-bottom: 30px;
  position: relative;
  &-textarea {
    margin-bottom: 22px;
  }
  & label {
    position: absolute;
    left: 15px;
    top: 0;
    @include transition(.2);
    pointer-events: none;
  }
  & input:focus ~ label, & input.has-content ~ label, 
  & textarea:focus ~ label, & textarea.has-content ~ label {
    top: -15px;
    font-size: 12px;
    color: $greyColor;
  }
}
.form-control-file {
  width: 70%;
  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.form-checkbox {
  position: relative;
  margin-bottom: 20px;
  & label {
    font-size: 18px;
    line-height: 27px;
    padding-left: 45px;
    &:before {
      content: '';
      font-family: 'icomoon' !important;
      position: absolute;
      left: 0;
      width: 27px;
      height: 27px;
      border: 2px solid $whiteColor;
      @include transition(.3);
    }
  }
  & input {
    display: none;
    &:checked ~ label:before {
      content: "\e900";
      background: $whiteColor;
      color: $accentColor;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
}

.form-radio label:before {
  border-radius: 100%;
}

.form-input, .form-textarea, .label-name {
  font-size: 14px;
  line-height: 21px;
  font-family: 'Gotham', sans-serif;
  background: transparent;
  border: none;
  color: $whiteColor;
}

.form-input {
  border-bottom: 1px solid #fff;
  width: 100%;
  outline: none;
  padding: 5px 15px;
}

.form-textarea {  
  border-bottom: 1px solid #fff;
  width: 100%;
  outline: none;
  padding: 5px 15px;
  resize: none;
}

.form-date {
  padding-left: 45px;
  & input {
    border: 1px solid $whiteColor;
  }
}


.fileBrowse input.form-file {
  opacity: 0;
}

.fileBrowse {
  background: url('../../img/upload.svg') no-repeat center;
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

