@import "../abstracts/mixins";
@import "../abstracts/variables";

.numbers {
  &-heading {
    margin-bottom: 130px;
    @media (max-width: $breakpoint-lg) {
      margin: 30px 0 60px 0;
    }
  }
  &-tip {
    margin-top: 30px;
    @media (max-width: $breakpoint-lg) {
      margin-top: 0;
      text-align: center;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-lg) {
      justify-content: center;
    }
  }
  &-item {
    position: relative;
    @media (max-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__count {
      font-size: 74px;
      line-height: 87px;
      font-weight: bold;
      @media (max-width: $breakpoint-lg) {
        font-size: 60px;
      }
    }
    &__description {
      font-size: 18px;
      line-height: 27px;
      @media (max-width: $breakpoint-lg) {
        max-width: 50%;
        font-size: 16px;
      }
    }
    &:first-child:before {
      right: -8px;
    }
  }
}

.numscroller {
  &:after {
    content: '+';
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    padding-left: 10px;
  }
}