@import "../abstracts/mixins";
@import "../abstracts/variables";

.product-primary-screen {
  height: calc(100vh - 50px);
}
.primary__images {
  position: absolute;
  top: -150px;
  right: -150px;
  &--overflow {
    // position: relative;
    width: 860px;
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-flex-wrap: wrap;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    // -webkit-box-pack: start;
    // -webkit-justify-content: flex-start;
    // -ms-flex-pack: start;
    // justify-content: flex-start;
  }
}

.primary__image {
  height: 40vh;
  width: 35vw;
  overflow: visible;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0.6) scaleZ(0.7) rotateX(-16deg) rotateY(-16deg) rotateZ(91deg) translateX(23px) translateZ(136px) skewX(-33deg);
    object-fit: cover;
  }
  &__container {
    position: absolute;
    transform: rotate(-70deg); 
    &:nth-child(1) {
      top: 25vh;
      right: 24vw;
      z-index: 4;
    }
    &:nth-child(2){
      top: 41vh;
      right: 4vw;
    }
    &:nth-child(3){
      right: 36vw;
      top: 36vh;
    }
    &:nth-child(4){
      top: 56vh;
      right: 19vw;  
    }
    &:nth-child(5){
      top: 58vh;
      right: -18vw;
    }
    &:nth-child(6){
      top: 72vh;
      right: -2vw;
      height: 45vh;
    }
  }
}

.development {
  &-wrap {
    position: relative;
    transition: margin .2s ease-out;
  }
  &-list {
    width: 100%;
    display: flex;
    counter-reset: iteme;
    position: relative;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
    &__item {
      width: 20%;
      line-height: 1.25;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
      &.active {
        & .development__item__number {
          &:before {
            color: $whiteColor;
            left: 26%;
          }
          &:first-child {
            &:before {
              left: 30%;
            }
          }
        }
        & .development__item__content {
          opacity: 1;
          visibility: visible;
        }
        & .development__item__description {
          left: 0;
          color: $whiteColor;
          text-align: center;
        }
        & .development__item__content {
          transition: opacity .5s, visibility .5s, color .8s;
          opacity: 1;
          color: #181c23;
          visibility: visible;
          &:before {
            width: 100%;
          }
        }
      }
      &:first-child {
        & .development__item__number {
          &:before {
            left: -6%;
          }
        }
      }
    }
    & .development__item__number {
      position: relative;
      width: 100%;
      cursor: pointer;
      padding: 20px 0 30px 0;
      background: #131313;
      overflow: hidden;
      &:before {
        content: counter(iteme);
        counter-increment: iteme;
        color: $greyColor;
        font-size: 150px;
        font-weight: 700;
        line-height: 1;
        position: relative;
        z-index: 3;
        left: -16%;
        transition: left .4s;
      }
      @media (max-width: $breakpoint-md) {
        padding: 15px;
        &:before {
          position: static;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $whiteColor;
        }
      }
    }
    & .development__item__description {
      position: absolute;
      color: $greyColor;
      font-size: 14px;
      line-height: 21px;
      bottom: 10px;
      z-index: 3;
      left: 60%;
      width: 100%;
      text-align: left;
      @include transition(.3);
      @media (max-width: $breakpoint-md) {
        position: static;
        text-align: center;
        color: $whiteColor;
      }
    }
    & .development__item__content {
      padding-top: 40px;
      width: 100%;
      background-color: transparent;
      position: absolute;
      left: 0;
      opacity: 0;
      top: 100%;
      visibility: hidden;
      z-index: 2;
      color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: $breakpoint-md) {
        opacity: 1;
        visibility: visible;
        position: static;
        padding-top: 20px;
      }
    }
  }
}

.product {
  &-recomendations {
    margin-top: 130px;
    @media (max-width: $breakpoint-md) {
      margin-top: 40px;
    }
  }
  &-propose {
    & .home-services__item {
      height: 370px;
    }
  }
}
